<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Explorer - Change Password</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <script src="Change-Password.js"></script>

</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="~{fragments::all-title-box}">
</div>
<!-- End All Title Box -->
<!-- Display global error message -->


<div class="mainDiv">
    <div class="cardStyle">
        <form th:action="@{/change-password}" th:object="${passwordChangeRequest}" method="post" name="changePasswordForm" id="changePasswordForm">
            <h2 class="formTitle">
                <i>Change Password</i>
            </h2>
            <!-- Display global error message -->
            <!-- Display global error message -->
            <div th:if="${error}" class="text-center alert">
                <p th:text="${error}"></p>
            </div>

            <!-- Current Password -->
            <div class="inputDiv">
                <label class="inputLabel" for="currentPassword">Current Password *</label>
                <input type="password" id="currentPassword" th:field="*{currentPassword}" required>
                <div th:if="${#fields.hasErrors('currentPassword')}" class="text-center alert">
                    <p th:text="${#fields.errors('currentPassword')}"></p>
                </div>
            </div>

            <!-- New Password -->
            <div class="inputDiv">
                <label class="inputLabel" for="newPassword">New Password *</label>
                <input type="password" id="newPassword" th:field="*{newPassword}" required>
                <div th:if="${#fields.hasErrors('newPassword')}" class="text-center alert">
                    <p th:text="${#fields.errors('newPassword')}"></p>
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="inputDiv">
                <label class="inputLabel" for="confirmationPassword">Confirm Password *</label>
                <input type="password" id="confirmationPassword" th:field="*{confirmationPassword}" required>
                <div th:if="${#fields.hasErrors('confirmationPassword')}" class="text-center alert">
                    <p th:text="${#fields.errors('confirmationPassword')}"></p>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span>Submit</span>
                </button>
            </div>

            <!-- Return Link -->
            <a class="text-center buttonWrapper btn btn-primary" th:href="@{/profile}">Return</a>
        </form>
    </div>
</div>



<!-- Start copyright  -->
<footer th:replace="~{fragments::footer}"></footer>

<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>