<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


</head>

<body>
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="images/To Travel.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br>  Travel Explorer</strong></h1>
                        <p class="m-b-40">Enjoy the service! <br> Have you a good, fun working day!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/Hotel.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br>  Travel Explorer</strong></h1>
                        <p class="m-b-40">Enjoy the service! <br> Have you a good, fun working day!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/mountains.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1 class="m-b-20"><strong>Welcome To <br>  Travel Explorer</strong></h1>
                        <p class="m-b-40">Enjoy the service! <br> Have you a good, fun working day!</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/WEATHER-TODAY.jpg" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">Welcome to <span>Travel Explorer</span></h2>
                <p>Your gateway to unforgettable travel experiences! Travel Explorer is dedicated to providing you with
                    seamless and exciting journeys around the world.</p>
                <p>Embark on a voyage of discovery with us. We curate the finest travel destinations and experiences,
                    ensuring every trip is a blend of adventure, comfort, and cultural richness.</p>
                <p>Explore our diverse range of travel packages, from relaxing beach getaways to thrilling
                    mountaineering expeditions. Your dream vacation starts here!</p>
                <a class="btn hvr-hover" href="#">Explore More</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Trusted Travel Partner</h3>
                    <p>At Travel Explorer, we are your trusted travel partner. We meticulously plan every detail to
                        ensure a smooth and enjoyable journey for our clients.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Professional Services</h3>
                    <p>We pride ourselves on providing professional services. From itinerary planning to customer
                        support, our team is dedicated to delivering exceptional service throughout your travel
                        experience.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Expert Travel Advisors</h3>
                    <p>Our team of expert travel advisors has years of experience in the industry. We know the best
                        destinations and activities to make your journey memorable. Let us guide you to your next
                        adventure!</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>


<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>